.home{
    
}

.home__header{
    background-color: #EAC926;
    font-family: var(--tipografiaGeneral);
    color: black;
}

.home__header--compra{
    text-align: left;
    font-size: 18px;
}

.home-banner{
    padding: 10px;

}

.burger-menu{
    border: none;
    background-color: #1259c3;
    margin: 0 auto 30px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 33px;
    text-align: center;
    color: white;
}

.home__header__nav{
    text-align: left;
    text-decoration: none;
   
}

.home__header__nav li{
    text-decoration: none;
    list-style: none;
    text-align: left;
    width: 100%;
    margin: 10;
    padding: 0;
    color: black;
}

.home__main__section{
    font-family: var(--tipografiaGeneral);
    font-size: 24px;
}

.home__main__section__article{
    
    font-family: var(--tipografiaGeneral);
    font-size: 16px;
}

.home__main__section__article--precio{
    font-family: var(--tipografiaGeneral);
    font-size: 18px;
}

.home__footer{
    text-align: center;
    font-family: var(--tipografiaGeneral);
    font-size: 12px;
    margin-bottom: 10px;
}

.home__footer--card{
    border: none;
    background-color: white;
    margin: 10px auto 0;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 2em;
    color: #1259c3;   
}

.home__footer--gift{
    border: none;
    background-color: white;
    margin: 50px auto 20px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 2em;
    margin-bottom: 0px;
    color: #1259c3;
}

.home__footer--user{
    border: none;
    background-color: white;
    margin: 50px auto 20px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 2em;
    margin-bottom: 0px;
    color: #1259c3;
}

.home__footer h4{
    list-style: 50px;
    margin-bottom: 0;
    font-size: 24px;
    
}

.home__footer p{
    list-style: 20px;
    font-size: 16px;
    margin-bottom: 0;
    color: #666;
}

.home__footer--copyright{
    text-align: left;
}