.home{
    margin-block: 0;
    margin: 0%;

    
}
a{
    text-decoration: none;
    color: black;
    text-align: left;
    
}
ul{
    list-style: none;
    text-align: left;
}

p{
    text-decoration: none;
}


.home__header{
    background-color: #EAC926;
    font-family: var(--tipografiaGeneral);
    color: black;
    padding-bottom: 10%;
}

.home__header--compra{
    text-align: center;
    font-size: 18px;
}

.home__banner{
    display: 100%;
    padding: 0px

}

.burger-menu{
    border: none;
    background-color: #1259c3;
    margin: 0 auto 30px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.home__main__section{
    font-family: var(--tipografiaGeneral);
    font-size: 18px;
    color: #666;
}

.home__main__section__article{
    
    font-family: var(--tipografiaGeneral);
    font-size: 16px;
}

.home__main__section__article--precio{
    font-family: var(--tipografiaGeneral);
    font-size: 18px;
}


@media (min-width:361px) {
     .home__main__section__article--info{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
     }
     .home__main__section__article__info h4{
        display: none;
     }
}

/*deskop*/
@media (min-width:769px) {
    
    
}